# Desc: Player configuration file for controlling Stage devices
# Author:  Jennifer Owen
# Date: 16/04/2010

driver
(		
      name "stage"
      plugin "stageplugin"

      provides ["simulation:0" ]

      # load the named file into the simulator
      worldfile "empty.world"	
)
